@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
form {
  background-color: rgb(139, 61, 30);
  border-radius: 3px;
  margin: 2rem 0;
  box-shadow: 0px 2px 5px #333e;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: inline-block;
  width: 25%;
  color: beige;
  padding: 1rem;
}

input,
textarea,
select {
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  margin: 0.5rem;
  font-family: "Roboto", sans-serif;
}

.form button {
  font-family: inherit;
  width: 100px;
  color: rgb(139, 61, 30);
  background-color: rgb(231, 231, 231);
  margin: 1.5rem;
  border-radius: 4px;
  box-shadow: 0px 2px 5px #333e;
}
select {
  width: 214px;
}

.input p,
.input h1 {
  font-family: "Caveat", cursive;
}

.input {
  background-color: rgb(231, 231, 231);
  padding: 0.5rem;
  margin: 2rem 0;
  border-radius: 3px;
  box-shadow: 0px 2px 5px #333;
}

.hl {
  border-bottom: 1px solid rgb(182, 182, 182);
  width: 100%;
}
